<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045717145621-mvhblnscvrjovhnhvp0qrk6i3ce6oo0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045717145621-mvhblnscvrjovhnhvp0qrk6i3ce6oo0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBl3Tat2KDcO7iLc9Uq2Q8lWOyOVXDmzfE</string>
	<key>GCM_SENDER_ID</key>
	<string>1045717145621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rocketChat</string>
	<key>PROJECT_ID</key>
	<string>rocket-chat-1155d</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-chat-1155d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045717145621:ios:fc169f33c1fc859351561c</string>
</dict>
</plist>